<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login From</title>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="logo">
                    <h2>
                        <span class="chats">Chats</span>
                        <span class="share">Share</span>
                    </h2>
                </div>
            </div>
            <div class="col-auto">
                <a href="/"><img src="/img/home.png" style="width: 50px; height: 50px;"></a>
            </div>
        </div>
        <div class="row justify-content-center" >
            <div class="col-12 col-md-8 col-lg-5">
                <div class="signup mx-auto">
                    <h2>สมัครสมาชิก</h2>
                    <!-- เปลี่ยน -->
                    <form action="" method="get"> 
                        <div class="login_form mb-3">
                            <input type="text" name="username" id="username" placeholder=" " required>
                            <label for="username">ชื่อผู้ใช้งาน</label>
                        </div>   
                        <div class="login_form mb-3">
                            <input type="email" name="email" id="email" placeholder=" " required>
                            <label for="email">อีเมล</label>
                        </div>
                        <div class="login_form">
                            <input type="password" name="password" id="password" placeholder=" " required 
                                pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}"
                                title="รหัสผ่านต้องประกอบไปด้วย A-Z, a-z, 0-9 อย่างน้อย 8 ตัว">
                            <label for="password">รหัสผ่าน</label>
                        </div>
                        <div class="login_form">
                            <input type="password" name="confirm_password" id="confirm_password" placeholder=" " required >
                            <label for="confirm_password">ยืนยันรหัสผ่าน</label>
                        </div>
                        <div class="signup_link">
                            มีบัญชีแล้ว? <a href="sign_in">เข้าสู่ระบบ</a>
                        </div>
                        <button type="submit" class="btn btn-primary">สมัครสมาชิก</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    
    <script src="/js/register.js" defer></script>


</body>
</html>